<div class="container p-4 ">
    <div class="row">
        <div class="col-4 spanSelect1">
            <h3><span class="badge badge-pill badge-light">ID</span></h3>
        </div>
        <div class="col-3 ">
            <h3><span class="badge badge-pill badge-lighty">CEO</span></h3>
        </div>
    </div>
    <div class="row ">
        <h3><span class="badge badge-secondary">Filtrado</span></h3>
        <div class="col-4">
            <select class="custom-select defSelect" (change)="fetchCompanyId($any($event.target).value)">
                <option value="default">Primer filtrado</option>
                <option [value]="item.id" *ngFor="let item of company">
                    {{item.id}} {{item.name}}
                </option>
            </select>
        </div>
        <div class="col-3">
            <select class=" custom-select defSelect">
                <option *ngIf="companyOne != null " value={{companyOne.name}}>
                    {{companyOne.CEO.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-8">
            <h1><span class="badge badge-warning spanColor">Registros</span></h1>
        </div>
        <div class="col-4">
            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refresCompany()">
                <option [ngValue]="100">Mostrar todos</option>
                <option [ngValue]="10">Mostar 10</option>
                <option [ngValue]="50">Mostrar 50</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="headTable">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Nombre Empresa</th>
                        <th scope="col">Numero</th>
                        <th scope="col">Encargado (CEO)</th>
                        <th scope="col">Direccion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="companyOne != null; else logg">
                        <td> {{companyOne.id}} </td>
                        <td> {{companyOne.name}} </td>
                        <td> {{companyOne.phone}} </td>
                        <td>
                            {{companyOne.CEO.name}}
                        </td>
                        <td>
                            {{companyOne.address.state}},
                            {{companyOne.address.city}},
                            {{companyOne.address.street}}
                        </td>
                    </tr>
                    <ng-template #logg>
                        <tr *ngFor="let item of company">
                            <td> {{item.id}} </td>
                            <td> {{item.name}} </td>
                            <td> {{item.phone}} </td>
                            <td>
                                {{item.CEO.name}}
                            </td>
                            <td>
                                {{item.address.state}},
                                {{item.address.city}},
                                {{item.address.street}}
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>

</div>


<!-- Angular Material
 -->
<!-- <table  mat-table *ngIf='company' class="mat-elevation-z8">
    <div *ngFor="let data of company">
    <ng-container >
        <th mat-header-cell >ID</th>
        <td mat-cell >{{data.id}}</td>
    </ng-container>
    <ng-container >
        <th mat-header-cell >Empresa</th>
        <td mat-cell > {{data.name}} </td>
    </ng-container>
    <ng-container >
        <th mat-header-cell >Telefono</th>
        <td mat-cell > {{data.phone}} </td>
    </ng-container>
    </div>

</table> -->