.defSelect{
    width: auto ;
    height: 35px;
    }

.spanSelect1{
    margin-left: 50px;
}

.spanColor{
    background-color: deeppink;
    color: white;
}

.headTable{
    background-color: #3641C8;
    color: white;
}
